@media screen and (min-width: 1200px) {
  .container {
    max-width: 1920px;
    width: 100%; }
  .col-lg-4 {
    width: 24.333333%; }
  .col-lg-8 {
    width: 75.666667%; } }

@media screen and (max-width: 1330px) {
  .logo h2 {
    font-size: 50px; }
  .logo span {
    font-size: 69px; }
  .logo h2:first-child {
    padding-left: 40px; }
  .speaker_item:not(:last-child) p {
    font-size: 19px; }
  .speaker_item:not(:last-child) p {
    margin-bottom: 8px; }
  .speaker_item:last-child h3 {
    font-size: 27px;
    margin: 10px 0 40px; } }

@media screen and (max-width: 1199px) {
  .main_pic {
    height: 100vh; }
  nav {
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 50px;
    right: -260px;
    background: #00544e;
    color: #ffffff;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  nav a {
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    padding: 20px; }
  nav a:last-child {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    padding-left: 20px; }
  nav a:hover {
    color: #ffffff; }
  .menu_icon.active div {
    background: transparent; }
  .menu_icon.active div::before {
    top: 11px;
    transform: rotate(45deg);
    transition: all 0.3s ease; }
  .menu_icon.active div::after {
    bottom: 15px;
    transform: rotate(-45deg);
    transition: all 0.3s ease; }
  nav.active-menu {
    right: -30px; }
  .menu {
    position: absolute;
    right: 30px;
    top: calc(50% - 5px); }
  .menu_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: -10px;
    cursor: pointer; }
  .menu_icon div {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    background: #ffffff;
    height: 4px;
    width: 30px;
    border-radius: 5px; }
  .menu_icon div::before,
  .menu_icon div::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    height: 4px;
    width: 30px;
    border-radius: 5px; }
  .menu_icon div::before {
    top: 0; }
  .menu_icon div::after {
    bottom: 0; }
  .nav {
    background: #00544e; }
  .logo {
    width: 50%;
    padding: 10px 35px;
    margin: 0; }
  .logo h2 {
    font-size: 21px;
    line-height: 25px; }
  .logo span {
    font-size: 30px; }
  .logo h2:first-child {
    padding-left: 18px; }
  .logo::after {
    height: 10px; }
  .speaker {
    padding: 20px 10px; }
  .speaker_item span:after {
    bottom: -3px; }
  .speaker_item:not(:last-child) p {
    font-size: 16px; }
  .speaker_item:not(:last-child) p:last-child {
    font-size: 13px;
    line-height: 16px; }
  .speaker_item:last-child h3 {
    font-size: 24px;
    line-height: 26px;
    margin: 10px 0 30px; }
  .speaker_item:last-child a {
    max-width: 156px;
    width: 100%;
    font-size: 13px; } }

@media screen and (max-width: 1199px) and (orientation: landscape) {
  .main_pic {
    height: 513px; } }

@media screen and (max-width: 767px) and (orientation: landscape) {
  .main_pic {
    height: 410px; } }

@media screen and (max-width: 767px) {
  .main .pic_text {
    font-size: 29px; }
  .main .date {
    font-size: 35px; }
  .pic_reg .reg {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 19px; }
  .speaker_block {
    flex-wrap: wrap;
    justify-content: center; }
  .speaker_item {
    margin: 0 15px 15px;
    width: 25%; } }

@media screen and (max-width: 480px) and (orientation: landscape) {
  .main_pic {
    height: 375px; } }

@media screen and (max-width: 480px) {
  nav {
    max-width: 386px;
    width: 100vw;
    right: -415px; }
  nav a,
  nav a:last-child {
    padding-left: 45px; }
  nav.active-menu {
    right: -30px; }
  .main .pic_text {
    font-size: 18px; }
  .main .date {
    font-size: 25px; }
  .speaker_item {
    margin-bottom: 35px;
    width: 100%;
    text-align: center; }
  .speaker_item:not(:last-child) p {
    font-size: 23px; }
  .speaker_item:not(:last-child) p:last-child {
    font-size: 16px; }
  .speaker_item:last-child h3 {
    font-size: 35px;
    line-height: 45px; } }
